.ranks-content {
  margin-top: 15px;
  background: #fff;
}

.ranks-list li {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:PingFangSC-Medium;
  height: 70px;
  line-height: 70px;
  margin: 0 15px;
  border-bottom: 2px solid #f5f6f7;
}
.ranks-list li .img-left{
  display: inline-block;
  width: 18px;
  height: 100%;
  vertical-align: middle;
}
.ranks-list li .img-right{
  display: inline-block;
  width: 40px;
  height: 100%;
  vertical-align: middle;
  margin-left: 20px;
}
.ranks-list li .name {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  color: #333;
}
/* .ranks-list-right {
  margin-right: 15px;
} */
.ranks-list-right span:nth-child(1){
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(51,51,51,1);
  font-size: 16px;
  display: inline-block;
  margin-right: 4px;
}
.ranks-list-right span:nth-child(2){
  font-size:28px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(73,95,254,1);
}
.rank-no {
  display: inline-block;
  /* margin-left: 15px; */
  font-size: 16px;
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}